name: Miku OS Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-x86 xorriso

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src, llvm-tools-preview

      - name: Build Image
        run: |
          cd builder
          cargo run --release --quiet

      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            builder/disk.img
            builder/miku-os/disk.img
          generate_release_notes: true
